.flex-table {
  width:100%;
}
.flex-table__row {
  overflow:hidden;
  line-height:20px;
  margin-right:10px;
  border-bottom:1px solid #ccc;
}
.flex-table__col {
  float:left;
  min-width:1px;
  min-height:1px;
}

.flex-table__col--header {
  font-weight:bold;
}

.flex-table__col:nth-child(1) { width:6%; }
.flex-table__col:nth-child(2) { width:6%; }
.flex-table__col:nth-child(3) { width:20%; }
.flex-table__col:nth-child(4) { width:29%; }
.flex-table__col:nth-child(5) { width:29%; }
.flex-table__col:nth-child(6) { width:10%; }

/*.flex-table__row--stops .flex-table__col:nth-child(1) { width:6%; }*/
/*.flex-table__row--stops .flex-table__col:nth-child(2) { width:6%; }*/
/*.flex-table__row--stops .flex-table__col:nth-child(3) { width:8%; }*/
/*.flex-table__row--stops .flex-table__col:nth-child(4) { width:78%; }*/
/*.flex-table__row--stops .flex-table__col:nth-child(5) { width:1%; }*/
/*.flex-table__row--stops .flex-table__col:nth-child(6) { width:1%; }*/


