<google-map center='map.center' zoom="map.zoom" options="map.options" draggable="true" id="gmap">
  <!--<markers models="map.stations" coords="'self'"></markers>-->
  <markers models="map.data" coords="'self'" options="redMarker"></markers>
  <!--<markers models="map.matched" coords="'self'" options="blueMarker"></markers>-->
  <!--<markers models="map.stations" coords="'self'" options="greenMarker" click="'onClicked'">-->
  </markers>
  <!--<markers models="map.lines['117']" coords="'self'"></markers>-->
  <!--<polyline path="map.lines['117']" ></polyline>-->

</google-map>

<div class="map-panel">
  <p><strong>Raw Data query</strong></p>
  <form data-ng-submit="submit()">
    <table>
      <tr>
        <td>vehicleCodes</td>
        <td><input type="text" data-ng-model="queryParams.vehicleCodes" value=""/></td>
      </tr>
      <tr>
        <td>dateFrom</td>
        <td>
          <input type="text" data-ng-model="queryParams.dateFrom" value=""/>
        </td>
      </tr>
      <tr>
        <td>dateTo</td>
        <td>
          <input type="text" data-ng-model="queryParams.dateTo" value=""/>
        </td>
      </tr>
      <tr>
        <td>isStop</td>
        <td>
          <input type="radio" data-ng-model="queryParams.isStop" data-ng-value="true"> true
          <input type="radio" data-ng-model="queryParams.isStop" data-ng-value="false"> false
        </td>
      </tr>
    </table>
    <p><button type="submit">submit</button></p>
  </form>
</div>

