<google-map center='map.center' zoom="map.zoom" options="map.options" draggable="true" id="gmap">
  <!--<markers models="map.stations" coords="'self'"></markers>-->
  <markers models="map.data" coords="'self'" options="redMarker"></markers>
  <!--<markers models="map.matched" coords="'self'" options="blueMarker"></markers>-->
  <!--<markers models="map.stations" coords="'self'" options="greenMarker" click="'onClicked'">-->
  </markers>
  <!--<markers models="map.lines['117']" coords="'self'"></markers>-->
  <!--<polyline path="map.lines['117']" ></polyline>-->

</google-map>