<google-map center='mapConfig.center' zoom="mapConfig.zoom" options="mapConfig.options" draggable="true" id="gmap">
<div data-ng-repeat="seq in rawStopsSequences" ng-switch on="seq.properties.visible">
  <div ng-switch-when="true">
    <markers
        models="seq.data"
        coords="'self'"
        options="seq.properties.matchingStatus === 'matched' ? mapConfig.roundMarkers.green : mapConfig.roundMarkers.red "
        labelContent="'cntSequence'"
        labelAnchor="4 24"
        labelClass="marker-label">
      <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>

        <table data-ng-non-bindable>
          <tr>
            <td>rawId</td>
            <td>{{rawId}}</td>
          </tr>
          <tr>
            <td>rawStopId</td>
            <td>{{rawStopId}}</td>
          </tr>
          <tr>
            <td>arrival</td>
            <td>{{arrival}}</td>
          </tr>
          <tr>
            <td>departure</td>
            <td>{{departure}}</td>
          </tr>
          <tr>
            <td>latitude</td>
            <td>{{ latitude }}</td>
          </tr>
          <tr>
            <td>longitude</td>
            <td>{{longitude}}</td>
          </tr>
          <tr>
            <td>distance</td>
            <td>{{distance}}</td>
          </tr>
          <tr>
            <td>status</td>
            <td>{{status}}</td>
          </tr>
          <tr>
            <td>hasCntStop</td>
            <td>{{hasCntStop}}</td>
          </tr>
          <tr>
            <td>cntStopKey</td>
            <td>{{cntStopKey}}</td>
          </tr>
          <tr>
            <td>cntTripKey</td>
            <td>{{cntTripKey}}</td>
          </tr>
          <tr>
            <td>cntSequence</td>
            <td>{{cntSequence}}</td>
          </tr>
        </table>

      </windows>
    </markers>
    <polyline path="seq.data"
              stroke="seq.properties.matchingStatus === 'matched' ? mapConfig.lines.green : mapConfig.lines.red"></polyline>
  </div>
</div>


<div data-ng-repeat="seq in plannedStopsSequencesOfMatchedBlock" ng-switch on="seq.properties.visible">
  <div ng-switch-when="true">
    <markers
        models="seq.data"
        coords="'self'"
        options="mapConfig.roundMarkers.blue"
        labelContent="'sequence'"
        labelAnchor="10 0"
        labelClass="marker-label">
      <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>

        <table data-ng-non-bindable>
          <tr>
            <td>blockLabel</td>
            <td>{{blockLabel}}</td>
          </tr>
          <tr>
            <td>pointLabel</td>
            <td>{{pointLabel}}</td>
          </tr>
          <tr>
            <td>blockKey</td>
            <td>{{blockKey}}</td>
          </tr>
          <tr>
            <td>tripKey</td>
            <td>{{tripKey}}</td>
          </tr>
          <tr>
            <td>tripTypId</td>
            <td>{{tripTypId}}</td>
          </tr>
          <tr>
            <td>sequence</td>
            <td>{{sequence}}</td>
          </tr>
          <tr>
            <td>departure</td>
            <td>{{departure}}</td>
          </tr>
          <tr>
            <td>latitude</td>
            <td>{{ latitude }}</td>
          </tr>
          <tr>
            <td>longitude</td>
            <td>{{longitude}}</td>
          </tr>
          <tr>
            <td>distance</td>
            <td>{{distance}}</td>
          </tr>
          <tr>
            <td>numberStops</td>
            <td>{{numberStops}}</td>
          </tr>

        </table>

      </windows>
    </markers>
    <polyline path="seq.data" stroke="mapConfig.lines.blue"></polyline>
  </div>
</div>

<div data-ng-repeat="seq in plannedStopsSequencesOfSelectedBlock" ng-switch on="seq.properties.visible">
  <div ng-switch-when="true">
    <markers
        models="seq.data"
        coords="'self'"
        options="mapConfig.roundMarkers.blue"
        labelContent="'sequence'"
        labelAnchor="10 0"
        labelClass="marker-label">
      <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>

        <table data-ng-non-bindable>
          <tr>
            <td>blockLabel</td>
            <td>{{blockLabel}}</td>
          </tr>
          <tr>
            <td>pointLabel</td>
            <td>{{pointLabel}}</td>
          </tr>
          <tr>
            <td>blockKey</td>
            <td>{{blockKey}}</td>
          </tr>
          <tr>
            <td>tripKey</td>
            <td>{{tripKey}}</td>
          </tr>
          <tr>
            <td>tripTypId</td>
            <td>{{tripTypId}}</td>
          </tr>
          <tr>
            <td>sequence</td>
            <td>{{sequence}}</td>
          </tr>
          <tr>
            <td>departure</td>
            <td>{{departure}}</td>
          </tr>
          <tr>
            <td>latitude</td>
            <td>{{ latitude }}</td>
          </tr>
          <tr>
            <td>longitude</td>
            <td>{{longitude}}</td>
          </tr>
          <tr>
            <td>distance</td>
            <td>{{distance}}</td>
          </tr>
          <tr>
            <td>numberStops</td>
            <td>{{numberStops}}</td>
          </tr>

        </table>

      </windows>
    </markers>
    <polyline path="seq.data" stroke="mapConfig.lines.blue"></polyline>
  </div>
</div>

</google-map>


<div class="map-panel-wrapper">

  <div class="map-panel shadow">
    <h4>Found stop sequences</h4>

    <p>Date: {{date}}</p>

    <div data-ng-repeat="seq in rawStopsSequences" data-ng-switch data-on="seq.properties.visible"
         data-ng-class="seq.properties.matchingStatus === 'matched' ? 'green' : 'red' ">
      <input
          type="checkbox"
          data-ng-model="seq.properties.visible"
          data-ng-checked="false"
          data-ng-true-value="true"
          data-ng-false-value="false"
          />
      {{$index + 1}}) {{ seq.properties.departureTime }} ({{seq.data.length}}) ({{ seq.properties.tripKey }})
    </div>
    <p><span class="green">matched</span> / <span class="red">unmatched</span></p>
  </div>

  <div class="map-panel shadow">
    <h4>Stop sequences of matching block&nbsp;({{matchedBlockKey}})</h4>

    <div data-ng-repeat="seq in plannedStopsSequencesOfMatchedBlock" data-ng-switch data-on="seq.properties.visible"
         class="blue">
      <input
          type="checkbox"
          data-ng-model="seq.properties.visible"
          data-ng-checked="false"
          data-ng-true-value="true"
          data-ng-false-value="false"
          />
      {{$index + 1}}) {{ seq.properties.departureTime }} ({{seq.data.length}}) ({{ seq.properties.tripKey }})
    </div>
  </div>

  <div class="map-panel shadow">
    <h4>All Blocks for this day {{isoDate}}</h4>

    <form data-ng-submit="submitBlockForm()">
      <div class="box">
        <div class="box__header">Filter by</div>
        <div class="box__body">
          <table>
            <tr>
              <td>
                <label>block key</label>
                <input type="text" data-ng-model="blockFilter.key"/>
              </td>
              <td>
                <label>block label</label>
                <input type="text" data-ng-model="blockFilter.label"/>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <p>
        <select style="width:100%;"
                size="5"
                data-ng-model="selectedBlock"
                data-ng-options="block.blockKey + ': ' + block.blockLabel for block in blocksOfDay">
        </select>
      </p>

      <p>
        <button>Show stop sequences</button>
      </p>
    </form>
    <div data-ng-repeat="seq in plannedStopsSequencesOfSelectedBlock" data-ng-switch data-on="seq.properties.visible"
         class="blue">
      <input
          type="checkbox"
          data-ng-model="seq.properties.visible"
          data-ng-checked="false"
          data-ng-true-value="true"
          data-ng-false-value="false"
          />
      {{$index + 1}}) {{ seq.properties.departureTime }} ({{seq.data.length}}) ({{ seq.properties.tripKey }})
    </div>
  </div>

</div>