<google-map center='mapConfig.center' zoom="mapConfig.zoom" options="mapConfig.options" draggable="true"
            events="mapEvents" id="gmap">
  <div ng-switch on="showUnmatchedStopVariation">
    <div ng-switch-when="true">
      <markers
          models="stopVariation.unmatched"
          coords="'self'"
          options="mapConfig.roundMarkers.red"
          labelAnchor="4 24"
          labelClass="marker-label">

        <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>

          <table data-ng-non-bindable>
            <tr>
              <td>arrivalAsString</td>
              <td>{{arrivalAsString}}</td>
            </tr>
            <tr>
              <td>departureAsString</td>
              <td>{{departureAsString}}</td>
            </tr>
            <tr>
              <td>vehicleCode</td>
              <td>{{vehicleCode}}</td>
            </tr>
            <tr>
              <td>hasCntStop</td>
              <td>{{hasCntStop}}</td>
            </tr>
          </table>

        </windows>
      </markers>
    </div>
  </div>

  <div ng-switch on="showMatchedStopVariation">
    <div ng-switch-when="true">

      <markers
          models="stopVariation.matched"
          coords="'self'"
          options="mapConfig.roundMarkers.green"
          labelAnchor="4 24"
          labelClass="marker-label">

        <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
          <table data-ng-non-bindable>
            <tr>
              <td>arrivalAsString</td>
              <td>{{arrivalAsString}}</td>
            </tr>
            <tr>
              <td>departureAsString</td>
              <td>{{departureAsString}}</td>
            </tr>
            <tr>
              <td>vehicleCode</td>
              <td>{{vehicleCode}}</td>
            </tr>
            <tr>
              <td>cntTripKey</td>
              <td>{{cntTripKey}}</td>
            </tr>
          </table>
        </windows>

      </markers>

    </div>
  </div>

</google-map>


<div class="map-panel-wrapper">

  <div class="map-panel shadow">
    <h3>Show stops of selected area</h3>

    <form data-ng-submit="submit()" class="query-form">
      <p>
        Date<br>
        <input type="text" data-ng-model="queryParams.dateFrom" value=""/>
        -
        <input type="text" data-ng-model="queryParams.dateTo" value=""/>
      </p>

      <p>
        South-West Bounds (lat1 / lng1)<br/>
        <input type="text" data-ng-model="queryParams.lat1" value=""/> /
        <input type="text" data-ng-model="queryParams.lon1" value=""/>
      </p>

      <p>
        North-East Bounds (lat2 / lng2)<br/>
        <input type="text" data-ng-model="queryParams.lat2" value=""/> /
        <input type="text" data-ng-model="queryParams.lon2" value=""/>
      </p>

      <p>
        <button type="submit">submit</button>
      </p>
    </form>

    <div class="messages">
      <p>Number of entries: {{messages.length}}</p>

      <p>{{messages.loading}}</p>

      <p class="red">{{messages.lengthWarning}}</p>
    </div>

    <div>
      <p>
        <label class="green">
          <input
              type="checkbox"
              data-ng-model="showMatchedStopVariation"
              data-ng-checked="true"
              data-ng-true-value="true"
              data-ng-false-value="false"
              />
          Show matched stops ({{stopVariation.matched.length}})
        </label>
        <br/>
        <label class="red">
          <input
              type="checkbox"
              data-ng-model="showUnmatchedStopVariation"
              data-ng-checked="true"
              data-ng-true-value="true"
              data-ng-false-value="false"
              />
          Show unmatched stops ({{stopVariation.unmatched.length}})
        </label>
      </p>
    </div>

  </div>


</div>