<div data-ng-switch data-on="showMap">
  <div data-ng-switch-when="true">
    <google-map
        center='mapConfig.center'
        zoom="mapConfig.zoom"
        options="mapConfig.options"
        draggable="true"
        events="mapEvents"
        id="gmap">

      <div data-ng-switch data-on="showUnmatchedStopVariation">
        <div data-ng-switch-when="true">
          <markers
              models="stopVariation.unmatched"
              coords="'self'"
              options="mapConfig.roundMarkers.red"
              labelAnchor="4 24"
              labelClass="marker-label">

            <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>

              <table data-ng-non-bindable>
                <tr>
                  <td>arrivalAsString</td>
                  <td>{{arrivalAsString}}</td>
                </tr>
                <tr>
                  <td>departureAsString</td>
                  <td>{{departureAsString}}</td>
                </tr>
                <tr>
                  <td>vehicleCode</td>
                  <td>{{vehicleCode}}</td>
                </tr>
                <tr>
                  <td>hasCntStop</td>
                  <td>{{hasCntStop}}</td>
                </tr>
              </table>

            </windows>
          </markers>
        </div>
      </div>

      <div ng-switch on="showMatchedStopVariation">
        <div ng-switch-when="true">

          <markers
              models="stopVariation.matched"
              coords="'self'"
              options="mapConfig.roundMarkers.green"
              labelAnchor="4 24"
              labelClass="marker-label">

            <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
              <table data-ng-non-bindable>
                <tr>
                  <td>arrivalAsString</td>
                  <td>{{arrivalAsString}}</td>
                </tr>
                <tr>
                  <td>departureAsString</td>
                  <td>{{departureAsString}}</td>
                </tr>
                <tr>
                  <td>latitude</td>
                  <td>{{latitude}}</td>
                </tr>
                <tr>
                  <td>longitude</td>
                  <td>{{longitude}}</td>
                </tr>
                <tr>
                  <td>vehicleCode</td>
                  <td>{{vehicleCode}}</td>
                </tr>
                <tr>
                  <td>cntTripKey</td>
                  <td>{{cntTripKey}}</td>
                </tr>
              </table>
            </windows>

          </markers>

        </div>
      </div>

      <div data-ng-repeat="seq in linePointsSequences" data-ng-switch on="seq.properties.visible">
        <div ng-switch-when="true">
          <markers
              models="seq.data"
              coords="'self'"
              options="mapConfig.pinMarkers.blue"
              >

            <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
              <div data-selector="point-container" data-ng-non-bindable>
                <table class="overlay-table">
                  <tr>
                    <td>Line:</td>
                    <td>{{ lineLabel }}</td>
                  </tr>
                  <tr>
                    <td>Point:</td>
                    <td data-selector="point-label">{{ pointLabel }}</td>
                  </tr>
                  <tr>
                    <td>Lat:</td>
                    <td><input data-selector="lat" type="text" value="{{ latitude}}" class="coordinate"/></td>
                  </tr>
                  <tr>
                    <td>Lng:</td>
                    <td><input data-selector="lng" type="text" value="{{longitude}}" class="coordinate"/></td>
                  </tr>
                </table>
                <p>
                  <button data-selector="update-point-btn">update&nbsp;coordinates</button>
                </p>
              </div>
            </windows>
          </markers>
        </div>
      </div>

    </google-map>
  </div>
</div>


<div class="map-panel-wrapper">
  <h3>Stop Cluster View</h3>

  <div class="accordion">
    <div class="accordion__item">
      <div class="accordion__header active" data-accordion-header>
        <h4 class="accordion__title">Show stops of selected area</h4>
        <span class="accordion__header-icon"></span>
      </div>
      <div class="accordion__body active">

        <form data-ng-submit="submit()" class="query-form">
          <div class="box">
            <div class="box__header">Date</div>
            <div class="box__body">
              <table class="full-width">
                <tr>
                  <td>From</td>
                  <td>To</td>
                </tr>
                <tr>
                  <td><input type="text" data-ng-model="queryParams.dateFrom" value=""/></td>
                  <td><input type="text" data-ng-model="queryParams.dateTo" value=""/></td>
                </tr>
              </table>
            </div>
          </div>

          <div class="wrapper" id="test">
            <div class="loading-spinner" data-ng-show="spinner[0]">
              <div class="loading-spinner__spinner"></div>
            </div>
            <div class="messages">
              <p>Number of entries: {{messages.numberOfStops}}</p>

              <p>{{messages.loading}}</p>

              <p class="red">{{messages.lengthWarning}}</p>
            </div>

            <div>
              <p data-ng-show="messages.numberOfStops <= maxNumberOfStops">
                <label class="green">
                  <input
                      type="checkbox"
                      data-ng-model="showMatchedStopVariation"
                      data-ng-checked="true"
                      data-ng-true-value="true"
                      data-ng-false-value="false"
                      />
                  Show matched stops ({{stopVariation.matched.length}})
                </label>
                <br/>
                <label class="red">
                  <input
                      type="checkbox"
                      data-ng-model="showUnmatchedStopVariation"
                      data-ng-checked="true"
                      data-ng-true-value="true"
                      data-ng-false-value="false"
                      />
                  Show unmatched stops ({{stopVariation.unmatched.length}})
                </label>
              </p>

              <p>
                <button type="submit">Update stops</button>
              </p>
            </div>
          </div>

        </form>

      </div>
    </div>

    <div class="accordion__item">
      <div class="accordion__header active" data-accordion-header>
        <h4 class="accordion__title">Lines</h4>
        <span class="accordion__header-icon"></span>
      </div>
      <div class="accordion__body active line-panel">
        <table class="panel-table" data-ng-show="linePointsSequences">
          <tr>
            <th>Show</th>
            <th>Line label</th>
            <th>Points</th>
          </tr>
          <tr data-ng-repeat="seq in linePointsSequences" data-ng-switch
              data-on="seq.properties.visible"
              class="blue">
            <td>
              <input
                  type="checkbox"
                  data-ng-model="seq.properties.visible"
                  data-ng-checked="seq.properties.visible"
                  />
            </td>
            <td>{{ seq.properties.lineLabel }}</td>
            <td>{{seq.data.length}}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</div>