<!-- begin: gMap -->
<google-map center='mapConfig.center' zoom="mapConfig.zoom" options="mapConfig.options" draggable="true" id="gmap">

<!-- begin: visualisation of data from panel 1 in map -->
<div data-ng-repeat="seq in rawStopsSequences" ng-switch on="seq.properties.visible">
  <div ng-switch-when="true">
    <markers
        models="seq.data"
        coords="'self'"
        options="seq.properties.matchingStatus === 'matched' ? mapConfig.roundMarkers.green : mapConfig.roundMarkers.red "
        labelContent="'cntSequence'"
        labelAnchor="4 24"
        labelClass="marker-label">

      <!-- begin: marker details overlay window -->
      <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
        <table data-ng-non-bindable>
          <tr>
            <td>arrival</td>
            <td>{{arrivalAsString}}</td>
          </tr>
          <tr>
            <td>departure</td>
            <td>{{departureAsString}}</td>
          </tr>
          <tr>
            <td>latitude</td>
            <td>{{ latitude | number:8 }}</td>
          </tr>
          <tr>
            <td>longitude</td>
            <td>{{longitude | number:8 }}</td>
          </tr>
          <tr>
            <td>distance</td>
            <td>{{distance}}</td>
          </tr>
          <tr>
            <td>cntStopKey</td>
            <td>{{cntStopKey}}</td>
          </tr>
          <tr>
            <td>cntTripKey</td>
            <td>{{cntTripKey}}</td>
          </tr>
          <tr>
            <td>cntSequence</td>
            <td>{{cntSequence}}</td>
          </tr>
          <tr>
            <td>rawId</td>
            <td>{{rawId}}</td>
          </tr>
          <tr>
            <td>rawStopId</td>
            <td>{{rawStopId}}</td>
          </tr>
        </table>
      </windows>
      <!-- end: marker details overlay window -->

    </markers>
    <polyline path="seq.data"
              stroke="seq.properties.matchingStatus === 'matched' ? mapConfig.lines.green : mapConfig.lines.red"></polyline>
  </div>
</div>
<!-- end: visualisation of data from panel 1 in map -->

<!-- begin: visualisation of data from panel 2 in map -->
<div data-ng-repeat="seq in scheduledStopSequencesOfMatchingBlock" ng-switch on="seq.properties.visible">
  <div ng-switch-when="true">
    <markers
        models="seq.data"
        coords="'self'"
        options="mapConfig.roundMarkers.blue"
        labelContent="'sequence'"
        labelAnchor="10 0"
        labelClass="marker-label">

      <!-- begin: marker details overlay window -->
      <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
        <table data-ng-non-bindable>
          <tr>
            <td>blockLabel</td>
            <td>{{blockLabel}}</td>
          </tr>
          <tr>
            <td>pointLabel</td>
            <td>{{pointLabel}}</td>
          </tr>
          <tr>
            <td>blockKey</td>
            <td>{{blockKey}}</td>
          </tr>
          <tr>
            <td>tripKey</td>
            <td>{{tripKey}}</td>
          </tr>
          <tr>
            <td>tripTypId</td>
            <td>{{tripTypId}}</td>
          </tr>
          <tr>
            <td>sequence</td>
            <td>{{sequence}}</td>
          </tr>
          <tr>
            <td>departure</td>
            <td>{{departureAsString}}</td>
          </tr>
          <tr>
            <td>latitude</td>
            <td>{{ latitude }}</td>
          </tr>
          <tr>
            <td>longitude</td>
            <td>{{longitude}}</td>
          </tr>
          <tr>
            <td>distance</td>
            <td>{{distance}}</td>
          </tr>
          <tr>
            <td>numberStops</td>
            <td>{{numberStops}}</td>
          </tr>
        </table>
      </windows>
      <!-- end: marker details overlay window -->

    </markers>
    <polyline path="seq.data" stroke="mapConfig.lines.blue"></polyline>
  </div>
</div>
<!-- end: visualisation of data from panel 2 in map -->

<!-- begin: visualisation of data from panel 3 in map -->
<div data-ng-repeat="seq in scheduledStopSequencesOfSelectedBlock" ng-switch on="seq.properties.visible">
  <div ng-switch-when="true">
    <markers
        models="seq.data"
        coords="'self'"
        options="mapConfig.roundMarkers.blue"
        labelContent="'sequence'"
        labelAnchor="10 0"
        labelClass="marker-label">

      <!-- begin: marker details overlay window -->
      <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
        <table data-ng-non-bindable>
          <tr>
            <td>blockLabel</td>
            <td>{{blockLabel}}</td>
          </tr>
          <tr>
            <td>pointLabel</td>
            <td>{{pointLabel}}</td>
          </tr>
          <tr>
            <td>blockKey</td>
            <td>{{blockKey}}</td>
          </tr>
          <tr>
            <td>tripKey</td>
            <td>{{tripKey}}</td>
          </tr>
          <tr>
            <td>sequence</td>
            <td>{{sequence}}</td>
          </tr>
          <tr>
            <td>arrival</td>
            <td>{{arrivalAsString}}</td>
          </tr>
          <tr>
            <td>departure</td>
            <td>{{departureAsString}}</td>
          </tr>
          <tr>
            <td>latitude</td>
            <td>{{ latitude | number:8 }}</td>
          </tr>
          <tr>
            <td>longitude</td>
            <td>{{longitude | number:8 }}</td>
          </tr>
          <tr>
            <td>distance</td>
            <td>{{distance}}</td>
          </tr>
          <tr>
            <td>numberStops</td>
            <td>{{numberStops}}</td>
          </tr>
        </table>
      </windows>
      <!-- end: marker details overlay window -->

    </markers>
    <polyline path="seq.data" stroke="mapConfig.lines.blue"></polyline>
  </div>
</div>
<!-- end: visualisation of data from panel 3 in map -->

<!-- begin: one single marker for highlighting a certain stop -->
<div data-ng-if="highlightMarker.visible">
  <marker coords="highlightMarker" options="mapConfig.roundMarkers.highlighted"></marker>
</div>
<!-- end: one single marker for highlighting a certain stop -->

</google-map>
<!-- end: gMap -->

<!-- begin: left panel -->
<div class="map-panel-wrapper">
  <h4 class="map-panel-header">Stop sequences for vehicle {{vehicleId}} at {{isoDate}}</h4>

  <div class="accordion">

    <!-- begin: panel 1 -->
    <div class="accordion__item">
      <div class="accordion__header active" data-accordion-directive>
        <h4 class="accordion__title">Found stop sequences</h4>
        <span class="accordion__header-icon"></span>
      </div>
      <div class="accordion__body active">
        <div class="loading-spinner" data-ng-show="spinner[0]">
          <div class="loading-spinner__spinner"></div>
        </div>

        <!-- directive for displaying stop sequences in a drill-down table -->
        <div data-stops-table-directive data-sequences="rawStopsSequences"></div>

        <p><span class="green">matched</span> / <span class="red">unmatched</span></p>
      </div>
    </div>
    <!-- end: panel 1 -->

    <!-- begin: panel 2 -->
    <div class="accordion__item">
      <div class="accordion__header active" data-accordion-directive>
        <h4 class="accordion__title">Scheduled trips of matching block</h4>
        <span class="accordion__header-icon"></span>
      </div>
      <div class="accordion__body active">


        <select class="full-width push--bottom"
                data-ng-model="selectedMatchingBlock"
                data-ng-options="block as block.properties.blockLabel for block in matchingBlocks">
        </select>

        <div class="position-relative">
          <div class="loading-spinner" data-ng-show="spinner[1]">
            <div class="loading-spinner__spinner"></div>
          </div>

          <!--flexTable directive for displaying sequences data-->
          <div data-trips-table-directive data-sequences="scheduledStopSequencesOfMatchingBlock"></div>

        </div>

      </div>
    </div>
  </div>
  <!-- end: panel 2 -->

  <!-- begin: panel 3 -->
  <div class="accordion__item">
    <div class="accordion__header" data-accordion-directive>
      <h4 class="accordion__title">Scheduled trips of a block from this day ({{isoDate}})</h4>
      <span class="accordion__header-icon"></span>
    </div>
    <div class="accordion__body">
      <div class="loading-spinner" data-ng-show="spinner[2]">
        <div class="loading-spinner__spinner"></div>
      </div>
      <form data-ng-submit="submitBlockForm()">
        <div class="box">
          <div class="box__header">Filter available blocks</div>
          <div class="box__body">
            <input type="text" data-ng-model="blockFilter.label"/>
          </div>
        </div>

        <p>
          <select class="full-width"
                  size="5"
                  data-ng-model="selectedBlock"
                  data-ng-options="block.blockLabel for block in blocksOfDay | filter:{ blockLabel: blockFilter.label }">
          </select>
        </p>

        <p>
          <button>Show stop sequences</button>
        </p>
      </form>

      <!--flexTable directive for displaying sequences data-->
      <div data-trips-table-directive data-sequences="scheduledStopSequencesOfSelectedBlock"></div>

    </div>
  </div>
  <!-- end: panel 3 -->

</div>
</div>
<!-- end: left panel -->
